<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.keyper.samples.sdk"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- for push notifications -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="io.keyper.samples.sdk.gcm.permission.C2D_MESSAGE" />

    <permission android:name="io.keyper.android.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <permission android:name="io.keyper.android.permission.MAPS_RECEIVE" android:protectionLevel="signature" />

    <application
        android:name=".SampleApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_kkybKrZ55U5rIbJ0dgB3JfmmuzgibqjK" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="io.keyper.android" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.SampleGCMListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service android:name=".services.SampleInstanceIDListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service android:name=".services.GCMRegistrationIntentService" android:exported="false" />


        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="keypersampleapp" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.CustomXMLTicketsActivity" android:screenOrientation="portrait" />
        <activity android:name=".activities.CustomTicketsActivity" android:screenOrientation="portrait" />
    </application>

</manifest>